.checkout-page {
  align-items: center;
  align-self: center;
  background-color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 992px;
  padding-bottom: 15px;
  row-gap: 20px;
}

.checkout-page .checkout-title {
  width: 100%;
}

.checkout-page .checkout-title p {
  border-bottom: 1px solid #606060;
  font-size: 25px;
  font-weight: 500;
  margin: 15px auto 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 70%;
}

.checkout-page .checkout-products {
  margin-bottom: 20px;
  padding: 0 15px;
}

.checkout-page .checkout-products ul {
  padding: 0;
}

.checkout-page .checkout-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
  width: 90%;
}

.checkout-page .checkout-buy {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 25px 0 15px;
  width: 100%;
}

.checkout-page .checkout-buy p {
  font-size: 18px;
  margin-bottom: 10px;
}

.checkout-page .checkout-buy button {
  width: 200px;
}

@media screen and ( min-width : 576px ) {

  .checkout-page .checkout-form {
    width: 570px;
  }
}

@media screen and ( min-width : 992px ) {

  .checkout-page {
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: calc(100vh - 750px);
  }

  .checkout-page .checkout-products {
    height: 429px;
    margin-bottom: 0;
    overflow: overlay;
    padding: 0;
  }

  .checkout-page .checkout-form {
    padding-left: 30px;
    width: 500px;
  }

  .checkout-page .checkout-buy {
    margin-top: 15px;
  }
}
