/* stylelint-disable declaration-no-important */
.product-page {
  background-color: white;
  flex: 1;
}

.product-page .product-main {
  margin-bottom: 20px;
  padding: 0 15px;
}

.product-page .product-pictures {
  margin: auto;
  width: 100%;
}

.product-page .carousel-image {
  height: 100%;
  width: 100%;
}

.product-page .carousel-btn {
  background: none ! important;
}

.product-page .carousel-btn svg {
  color: #252525 ! important;
}

.product-page .product-info {
  padding: 10px 0;
}

.product-page .product-condition-and-sold-quantity {
  color: #707070;
  font-size: 12px;
  margin-bottom: 5px;
  text-align: end;
}

.product-page .product-title {
  color: #383838;
  font-size: 25px;
}

.product-page .product-price-discount {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.product-page .original-price {
  color: #999;
  flex-basis: 100%;
  font-size: 15px;
  text-decoration: line-through;
}

.product-page .current-price, .product-price {
  font-size: 30px;
}

.product-page .product-price-discount, .product-page .product-price {
  margin: 12px 0;
}

.product-page .product-off {
  color: #2b912b;
  margin-left: 5px;
}

.product-page .product-buy {
  border-top: 1px solid #959595;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 12px;
}

.product-page .product-free-shipping {
  align-items: center;
  color: #2b912b;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  gap: 3px;
}

.product-page .product-details {
  margin: 50px 0 30px;
  padding: 0 12px;
}

.product-page .product-description {
  padding: 10px 0;
}

.product-page .description-title {
  font-weight: 600;
  margin: 10px 0;
}

.product-page .border {
  background-color: #959595;
  height: 1px;
  margin: auto;
  width: 95%;
}

@media screen and ( min-width : 508px ) {

  .product-page .product-pictures {
    width: 500px;
  }

  .product-page .carousel-image {
    height: 500px;
    width: 500px;
  }
}

@media screen and ( min-width : 576px ) {

  .product-page .product-info {
    padding: 10px 25px;
  }

  .product-page .product-buy {
    width: 350px;
  }
}

@media screen and ( min-width : 992px ) {

  .product-page {
    margin: auto;
    max-width: 1100px;
    min-width: 992px;
  }

  .product-page .product-main {
    display: flex;
    justify-content: center;
  }

  .product-page .product-pictures {
    margin: 0;
    padding-top: 10px;
    width: 500px;
  }

  .product-page .product-info {
    max-width: 575px;
    padding-left: 50px;
    padding-top: 40px;
    width: calc(100% - 500px);
  }

  .product-page .product-details {
    margin: 50px auto 30px;
    max-width: 1100px;
    padding: 0 30px;
    position: relative;
  }

  .product-page .product-attributes {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 55%;
  }

  .product-page .product-attributes .responsive-table {
    bottom: 0;
    max-height: unset;
    position: absolute;
    top: 41px;
    width: 100%;
  }

  .product-page .product-description {
    margin-left: calc(55% + 10px);
    min-height: 250px;
    padding: 0 12px 0 50px;
  }

  .product-page .description-title {
    font-size: 18px;
    margin: 0 0 10px;
  }

  .product-page .product-attributes::-webkit-scrollbar-track {
    background: none;
  }
}
