@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Akshar', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  color: #252525;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  user-select: none;
}

::selection {
  background-color: rgba(180, 180, 180, 0.4);
}

-moz::selection {
  background-color: rgba(128, 128, 128, 0.5);
}
