@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Akshar', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  color: #252525;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  user-select: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

::selection {
  background-color: rgba(180, 180, 180, 0.4);
}

-moz::selection {
  background-color: rgba(128, 128, 128, 0.5);
}

::-webkit-scrollbar {
  height: 15px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(85, 85, 85, 0.5);
}

::-webkit-scrollbar-track {
  background: rgba(85, 85, 85, 0.2);
}
